@{
    ViewBag.Title = "Home Page";
}
<br/><br/>
<div class="btn-group col-md-offset-8">
    <div class="btn btn-default"> @Html.ActionLink("New Job Aplication", "Create", "Candidates")<br /></div>
    <div class="btn btn-default"> @Html.ActionLink("Admin", "Index", "CandidateStatus") </div>
    <div class="btn btn-default"> @Html.ActionLink("Interviewers", "Employee", "Home") </div>

</div>

